.bootstrap-select>.dropdown-menu {
	min-height: 100px !important;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder { 
	color: black; 
	background-color: transparent;
	border: 1px solid #ccc;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder.disabled { 
	color: #555;
	background-color: #ccc;
	border: 1px solid #ccc;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover:not(.disabled) { 
	color: black; 
	background-color: transparent;
	border: 1px solid #ccc;
}
.bootstrap-select>.dropdown-toggle { 
	color: black; 
	background-color: transparent;
	border: 1px solid #ccc;
}
.bootstrap-select>.dropdown-toggle.disabled { 
	color: #555; 
	background-color: #ccc;
	border: 1px solid #ccc;
}
.bootstrap-select>.dropdown-toggle:hover:not(.disabled) { 
	color: black; 
	background-color: transparent;
	border: 1px solid #ccc;
}
.bootstrap-select.has-error {
    border: 1px solid #a94442;
}

span.select2 {
	width: 100%!important;
}

span.select2-selection__arrow {
	margin-top: 3px!important;
}

span.select2-selection {
    padding-top: 2px!important;
}

.select2-container .select2-selection--single {
	height: 34px!important;
}

.has-error .select2-selection {
	border-color: rgb(185, 74, 72) !important;
}

.control-label {
	padding: 0px!important;
}

tr.data:hover td {
	background-color: #ededed;
}

.table > tbody > tr > th, .table > tbody > tr > td {
	padding: 3px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	margin-top: 3px;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    display: none;
}

div.attachment label i {
	/*border: 1px solid #ccc;*/
	padding: 6px 12px;
	/*border-radius: 3px;*/
	/*height: 100%;*/
}

/*div.attachment label.has-error i {
	border: 1px solid #a94442;
	padding: 6px 12px;
	border-radius: 3px;
	color: #a94442;
}*/

.btn-has-error {
	border-color: #a94442!important;
}