.table {
	margin-bottom: 0px;
}
label.control-label.view {
	padding-top: 0px;
}
div.btn_action i.fa-list {
    border: 1px solid #337ab7;
    padding: 4px 3px 2px 3px;
    border-radius: 3px;
    background-color: #337ab7;
    font-weight: 1000;
}
.form-horizontal .control-label {
    padding-top: 0px; 
    margin-bottom: 0;
    text-align: right;
}