.bootstrap-select>.dropdown-menu {
  min-height: 100px !important;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder { 
  color: black; 
  background-color: transparent;
  border: 1px solid #ccc;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder.disabled { 
  color: #555;
  background-color: #ccc;
  border: 1px solid #ccc;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover:not(.disabled) { 
  color: black; 
  background-color: transparent;
  border: 1px solid #ccc;
}
.bootstrap-select>.dropdown-toggle { 
  color: black; 
  background-color: transparent;
  border: 1px solid #ccc;
}
.bootstrap-select>.dropdown-toggle.disabled { 
  color: #555; 
  background-color: #ccc;
  border: 1px solid #ccc;
}
.bootstrap-select>.dropdown-toggle:hover:not(.disabled) { 
  color: black; 
  background-color: transparent;
  border: 1px solid #ccc;
}
.bootstrap-select.has-error {
    border: 1px solid #a94442;
}

span.select2 {
  width: 100%!important;
}

span.select2-selection__arrow {
  margin-top: 3px!important;
}

span.select2-selection {
  height: 34px!important;
  padding-top: 2px!important;
  font-size: 11px!important;
}

.has-error .select2-selection {
  border-color: rgb(185, 74, 72) !important;
}

.select2-results__option {
  font-size: 11px;
}

span.btn_add_row_2x:after, td span.btn_add_row_2x:after {
  right: 10px;
  margin-top: -14px;
}

span.btn_del_row_2x:after, td span.btn_del_row_2x:after {
  right: 10px;
  margin-top: -38px;
}

.table {
	margin-bottom: 0px;
}

a:not([href]):not([tabindex]):hover {
    color: #23527c;
    text-decoration: underline;
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}

td.lebih {
	background-color: #ff4f4f;
}